@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

/* navbar style */
.navbar {
  font-family: "Koulen", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f5efe7;
  padding: 16px 32px;
  font-size: 18px;
}

/* apply style to a tag of navbar section */
.navbar > a {
  text-decoration: none;
  padding: 0px 14px;
  color: #213555;
}

/* add style to a tag with mouse hover action */
.navbar > a:hover {
  background-color: #3e5879;
  color: white;
  border-radius: 4px;
}

/* section 2 - kimbap day */
.shin-chan {
  margin: auto;
  padding: 30px 0px;
  width: 90%;
}

/* define spacing between images */
.img-space {
  margin: 0px 5px 0px 0px;
}

/* image 1 */
/* .image1 {
  background-image: url("https://i.pinimg.com/736x/75/0e/ca/750ecacc96fb4eeef7aaa03e7d7d3c2f.jpg");
  height: 320px;
  width: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-color 2s, background-blend-mode 2s;
}

.image1:hover {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
} */

/* background image style */
.bg-image-style {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
  border-radius: 10px;
}

/* hover style on bg image */
.bg-image-style:hover {
  background-blend-mode: overlay;
}

/* image 1 */
.image1 {
  background-image: url("./images/image1.jpg");
  height: 320px;
  width: 350px;
  transition: background-color 2s ease;
  background-blend-mode: overlay;
}

.image1:hover {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("./images/image1.jpg");
  /* background-color: rgba(0, 0, 0, 0.4); */
}

/* image 2 */
.image2 {
  background-image: url("./images/image2.jpg");
  transition: background-color 2s ease, transform 2s ease;
  height: 320px;
  width: 350px;
  background-blend-mode: overlay;
}

.image2:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* image 3 */
.image3 {
  background-image: url("./images/image3.jpg");
  transition: background-color 2s ease;
  width: 603px;
  height: 320px;
  background-blend-mode: overlay;
}

.image3:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* image 4 */
.image4 {
  background-image: url("./images/image4.jpg");
  width: 400px;
  height: 956px;
}

.image4:hover {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("./images/image4.jpg");
}

/* image 5 */
.image5 {
  background-image: url("./images/image5.jpg");
  height: 300px;
  width: 710px;
}

.image5:hover {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("./images/image5.jpg");
}

/* image 6 */
.image6 {
  background-image: url("./images/image6.jpg");
  transition: background-color 2s ease;
  width: 296.5px;
  height: 628px;
  background-blend-mode: overlay;
}

.image6:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* image 7 */
.image7 {
  background-image: url("./images/image7.jpg");
  transition: background-color 2s ease;
  width: 296.5px;
  height: 628px;
  background-blend-mode: overlay;
}

.image7:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* image 8 */
.image8 {
  background-image: url("./images/image8.jpg");
  height: 320px;
  width: 350px;
}

.image8:hover {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("./images/image8.jpg");
}

/* image 9 */
.image9 {
  background-image: url("./images/image9.jpg");
  height: 320px;
  width: 350px;
  transition: background-color 2s ease;
  background-blend-mode: overlay;
}

.image9:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* episodes listings */
.episodes-listings,
footer {
  padding: 20px 50px;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* apply style to p - a child of episodes-listings */
.episodes-listings > #episodes-text {
  text-transform: capitalize;
  font-size: 20px;
  background-color: #213555;
  color: whitesmoke;
  padding: 8px 16px;
  width: 85px;
  border-radius: 10px;
  margin-bottom: 3px;
  font-weight: 800;
}

/* apply border bottom style */
.episodes-listings > p:empty {
  border-top: #213555 2px solid;
  height: 10px;
  width: 100%;
  margin: 0;
}

/* table under episodes listings section */
.episodes-listings table {
  margin-top: 20px;
  width: 100%;
  border-spacing: 4px;
}

thead th {
  background-color: #d8c4b6;
}

.episodes-listings thead,
tr,
th {
  text-align: center;
  padding: 5px 0px;
  border-radius: 10px;
}

.episodes-listings td {
  border: #213555 1px solid;
  padding: 5px 0px;
  border-radius: 10px;
}

.row1 {
  background-color: #3e5879;
  color: white;
  transition: background-color 2s ease, color 2s ease;
}

.row1:hover {
  background-color: #d8c4b6;
  color: #213555;
  font-weight: bold;
}

/* apply hover style to other rows */
.episodes-listings .td-hover:hover {
  background-color: #8e1616;
  color: white;
}

/* apply style to footer */
footer {
  text-align: center;
  font-weight: bold;
  background-color: #f5efe7;
  color: #213555;
  margin-top: 80px;
}
